@import "tailwindcss";

:root { /* Example secondary color */
  --background-color: #05010d;
  --foreground-color: #ffffff;
}

body {
  background-color: 
  radial-gradient(circle at top left,#b026ff22,transparent 30%),
  radial-gradient(circle at bottom right,#00d9ff22,transparent 30%),#05010d;
  color: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}